version: '3.0'
########## SERVICES ########
services:
###### xshok-openlitespeed-php
    openlitespeed:
      image: extremeshok/openlitespeed-php:latest
      depends_on:
        - redis
        - mysql
      volumes:
        # volume mounts
        - vol-www-vhosts:/var/www/vhosts/:rw
        - vol-www-configs:/etc/openlitespeed/:rw
        - vol-www-logs:/usr/local/lsws/logs/:rw
      environment:
      #optional enviromental varibles
        - TZ=${TZ}
        - PHP_TIMEZONE=${TZ}
        - PHP_REDIS_SESSIONS=yes
        - PHP_REDIS_HOST=redis
        - PHP_REDIS_PORT=6379
        - PHP_MAX_UPLOAD_SIZE=32
        - PHP_MAX_TIME=300
        - PHP_MEMORY_LIMIT=256
        - PHP_DISABLE_FUNCTIONS=shell_exe
        - PHP_SMTP_HOST=mail.yoursmtp.com
        - PHP_SMTP_PORT=587
        - PHP_SMTP_USER=mail@yoursmtp.com
        - PHP_SMTP_PASS=securpassword
      restart: always
      sysctls:
        - net.ipv6.conf.all.disable_ipv6=${SYSCTL_IPV6_DISABLED:-0}
      dns:
        - ${IPV4_NETWORK:-172.22.1}.254
      networks:
        network:
          aliases:
          - webserver
